<!DOCTYPE html>
<html>
<%- include('elements/meta', {
	title: errorNum + ": " + errorMsg,
	desc: "An error occurred."
}) %>
	<body>

		<div class="is-page">
			<%- include('elements/header', {
				text: "Oof?"
			}) %>


			<section class="hero colours">
				<a name="colours"></a>				

					<h1 class="title"><%= errorNum %></h1>
					<h2 class="subtitle"><%= errorMsg %></h2>

			</section>
		</div>

		<%- include elements/footer %>

	</body>
</html>
