<!DOCTYPE html>
<html>
	<head>

		<!-- ALL THE SINGLE METAS -->
		<title><%= errorNum %> <%= errorMsg %></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="<%= errorMsg %>">
		<meta name="author" content="Jaakko Repo">
		<meta name="keywords" content="jColour, jColor, Discord, Discord bot">

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="/css/bulma.css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">

	</head>
	<body>

		<div class="is-page">
			<section class="hero header is-fade is-small">
				<div class="hero-body">
					<div class="container">

						<h1 class="title is-1 is-whitetext">jColour Options</h1>

					</div>
				</div>
			</section>


			<section class="hero colours">
				<a name="colours"></a>				

					<h1 class="title"><%= errorNum %></h1>
					<h2 class="subtitle"><%= errorMsg %></h2>

			</section>
		</div>

		<section class="section footer">
			<div class="container">

				<h2 class="is-white subtitle">
					&copy; Jaakko Repo, 2018 <br />
					Licensed under a MIT license.
				</h2>

			</div>
		</section>

	</body>
</html>
