<!DOCTYPE html>
<html>
<%- include('elements/meta', {
	title: errorNum + ": " + errorMsg,
	desc: "An error occurred."
}) %>

	<body>

		<div class="is-page">

			<section class="main-content columns is-fullheight">

				<%- include('elements/servers', {
			commonServers: [],
			server: null,
			page: "error",
			user: null,
			auth: false
		}) %>

					<div class="container column is-9 full-column">
						<div class="section">

							<h1 class="title is-3"> <%= errorNum %>: <%= errorMsg %></h1>

							<h2 class="title is-4">What can I do?</h2>
							<h2 class="subtitle is-6">
                    We've trained our highly intelligent code monkeys to deal with this kind of stuff. I swear! <br />
					All you can do is go home. Unless the error was on the home page. Then there's nothing you can do. <br />
					Well I'd appreciate reporting the problem on Gitlab or tweeting me.
                </h2>
							<a href="/" class="button is-large is-blue">Home</a>
							<a href="https://twitter.com/jaakkorepo" class="button is-large is-blue">Tweet me!</a>
							<a href="https://gitlab.com/jColour/jColour" class="button is-large is-blue">Gitlab</a>
						</div>
					</div>

			</section>

		</div>

		<%- include elements/footer %>

	</body>

</html>
